@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Patua+One&family=Vina+Sans&display=swap');

/* quiz heading plus logo */
#logo{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 8%;
    overflow: hidden;
    height: 80px; 
    padding-right: 1%;
}
#heading{
    font-family: 'Vina Sans';
    font-weight: 200;
    font-size: 280%;
    text-align: center;
}

/* class to hide the pages that are not in use at the moment */
.hide{
    display: none;
}

/* starting page */

.game-area{
    background-color:  #fffb8f;
    padding: 4%;
    width: 40%;
    height: 100%;
    border-radius: 5px;
    border: 2px black solid;
    font-family: "Patua One";
    font-size: 160%;
    margin: 0 auto;
}
.game-area h3{
    text-align: center;
    padding-bottom: 7%;
}

.btn{
    border: 2px black solid;
    border-radius: 5px;
    font-family: "Patua One";
    padding: 3% 7%;
    font-size: 120%;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #fa8072;
}
.btn:hover{
    color: white;
    
}
.btn-container{
    text-align: center;
    padding-top: 5%;
}

/* quiz page */

/* question section */
#question-section{
    position: relative;
}

#timer{
    position:absolute;
    top:0;
    left:0;
    padding: 5%;
}

#life-count{
    position:absolute;
    top:0;
    right:0;
    padding: 5%;
}
/* answer section */
.answer-containers{
    display: block;
    text-align: center;
    padding-bottom:2%;
}
.answer-button{
    font-family:"Patua One";
    border: 2px black solid;
    border-radius: 3px;
    width: 40%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 70%;
    cursor: pointer;
    background-color: #e0f0ff;
}

#question{
    padding-bottom: 10px;
}

/* finishing page */
input[type=text]{
    padding: 2% 5%;
}



/* correct and wrong answers */
.right{
    background-color: green;
}
.wrong{
    background-color: red;
}
